/* fonte da tela toda */
.roboto-telaprincipal {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

* {
  font-family: 'Roboto';
}

.sombra-rotulos {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 5px;
  background-color: rgb(218, 67, 67);
}
